# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
numpy
scipy
SimpleITK
pandas
# vtk!=7.1.0 # by fibrous 7.1.0 cuses problems on travis
vtk>7.1.1
pyqt=4.10.4=py27_0
sed3
imtools
skelet3d
io3d
pysegbase
fibrous # <0.1.0
ruamel.yaml # required by fibrous